@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

@theme {
    --breakpoint-2xl: 1280px;
    --color-primary: rgb(6, 6, 7);
}

@layer components {
    .container {
        width: 100%;
        margin-inline: auto;
        padding-left: 100px;
        padding-right: 100px;
    }
}

@utility bg-custom-orange {
    background-image:
        linear-gradient(to right, rgba(17, 17, 17, .2), rgba(17, 17, 17, .2)),
        url('/public/images/hero.png');

    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: right;
}